image:
  repository: 379196425754.dkr.ecr.us-east-1.amazonaws.com/flask-backend
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 5000

env:
  DB_HOST: db
  DB_USER: root
  DB_PASSWORD: root
  DB_NAME: app_db

