name: CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build frontend
        run: |
          cd app/frontend
          npm install
          npm run build

      - name: Build backend
        run: |
          cd app/Backend
          pip install -r requirements.txt
          python -m py_compile main.py

